modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["nano"]

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38829
externalPort = 3000

[[ports]]
localPort = 41907
externalPort = 3001
